In [2]:
import pandas as pd

In [8]:
data_path = 'data/sensor_metrics.csv'
df = pd.read_csv(data_path)
df.head()

,Unnamed: 0,date,field,value,device_id
0,0,2022-05-23 05:21:20.242008+00:00,battery_voltage,14.99837,SB1001
1,1,2022-05-23 05:21:51.183225+00:00,battery_voltage,14.99837,SB1001
2,2,2022-05-23 05:22:22.381353+00:00,battery_voltage,14.99837,SB1001
3,3,2022-05-23 05:22:52.605236+00:00,battery_voltage,14.99837,SB1001
4,4,2022-05-23 05:23:22.870146+00:00,battery_voltage,14.99837,SB1001

In [9]:
df['field'].value_counts()

battery_voltage    136464
data_balance       136464
db_level           136464
last_recorded      136464
last_uploaded      136464
panel_voltage      136464
signal_strength    136464
Name: field, dtype: int64

In [12]:
values=['battery_voltage','data_balance','last_recorded','last_uploaded','panel_voltage','signal_strength']
df.query("field in @values")

,Unnamed: 0,date,field,value,device_id
0,0,2022-05-23 05:21:20.242008+00:00,battery_voltage,14.99837,SB1001
1,1,2022-05-23 05:21:51.183225+00:00,battery_voltage,14.99837,SB1001
2,2,2022-05-23 05:22:22.381353+00:00,battery_voltage,14.99837,SB1001
3,3,2022-05-23 05:22:52.605236+00:00,battery_voltage,14.99837,SB1001
4,4,2022-05-23 05:23:22.870146+00:00,battery_voltage,14.99837,SB1001
...,...,...,...,...,...
955243,955243,2022-05-26 22:27:31.852231+00:00,signal_strength,26.00000,SB1013
955244,955244,2022-05-26 22:28:02.933391+00:00,signal_strength,26.00000,SB1013
955245,955245,2022-05-26 22:30:59.933363+00:00,signal_strength,26.00000,SB1013
955246,955246,2022-05-26 22:31:30.892709+00:00,signal_strength,26.00000,SB1013
955247,955247,2022-05-26 22:32:01.219158+00:00,signal_strength,26.00000,SB1013